.karanraj {
    width: 1200px;
    height: 599px;
    margin-top: 5px;
    background-color: #282A35 !important;

    margin-left: -9px;
    margin-right: 8px;
}

.rohit1 {
    width: 1200px;
    height: 300px;
    margin-top: 100px;
    position: relative;
    left: 0px;
    right: 50px;
    background-color: #282A35 !important;
    margin-left: 0px;

}

.maa {
    width: 600px;
    height: 300px;
    margin-top: 100px;
    position: relative;
    left: 300px;
    right: 300px;
    background-color: #282A35 !important;
    margin-left: 0px;

}

.maa2 {

    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    position: relative;
    left: 41px;
    margin-top: -18px !important;
    font-size: 70px;
    margin-bottom: 3px;
}

.raju {
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FFC0C7;
    position: relative;
    left: 18px;
    margin-top: 30px !important;
    font-size: 27px;


}
#karan99{
    width: 33vw;
    height: 10vh;
    padding-left: 2vw;
    border-radius: 1vh;

}








/* .login { 

    outline: none;
    border: none;
    background: white;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 1.1rem;
    /* color: #fff; */
    /* width: 90%; */
    /* margin: 9 auto; */
    /* padding-right: 45vh; */
    /* position: absolute; */
    /* left: 0vh; */
    /* right: 2vh; */
    /* margin-top: 2vh; */
    /* height: 8vh */
/* } */
.fa{
display: inline-block;
    font: normal normal normal 39px/1 fontawesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}










.am1 {
    height: 12px;
    width: 90px;
    position: absolute;
    right: -1px;
    padding: 30px;
    margin-right: 60px;
    background-color: #059862;
    padding: 20px;
    padding-top: 12px;
    margin-top: 12px;
    border-radius: 0px 20px 20px 0px;



}





.kiran {
    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    position: absolute;
    left: 130px;
    margin-top: 90px;
    font-size: 23px;

}



.karan {

    font-size: 10px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #282A35 !important;
}


.name {
    width: 2000px;
    height: 600px;
    background-color: #D9EEE1 !important;
    margin-top: 300px;

    margin-left: -9px;
    margin-right: 5px;
    position: absolute;
    right: -305px;
    margin-top: 230px;
    margin-bottom: 5px;
    padding-top: 5px;
}

.body {
    width: 1250px;
    height: 450px;
    position: absolute;
    padding-left: 20px;
    margin-top: -6px;
    margin-left: 10px;
    background-color: #D9EEE1 !important;

}

.ajay1 {
    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 895px;
    margin-top: 100px !important;
    font-size: 70px;
    margin-bottom: 3px;


}

.ajay2 {

    font-size: 40px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 845px;
    margin-top: 20px !important;
    font-size: 19px;


}


.login1 {
    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
     color: #fff; 
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 152vh;
    right: 25vh;
    margin-top: 3vh;
    height: 8vh;


}

.login2 {
    outline: none;
    border: none;
    background: #FFF4A3 !important;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 25px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 152vh;
    right: 36vh;
    margin-top: 17vh;
    height: 8vh;




}

.login3 {


    outline: none;
    border: none;
    background: #000;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: -2vh;
    position: absolute;
    left: 152vh;
    right: 36vh;
    margin-top: 31vh;
    height: 8vh;
    color: white;



}

.login4 {

    outline: none;
    border: none;
    background: #FFC0C7 !important;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: -2vh;
    position: absolute;
    left: 152vh;
    right: 36vh;
    margin-top: 45vh;
    height: 8vh;
    color: #000;



}


.man {

    width: 500px;
    height: 450px;
    position: absolute;
    margin-left: 5px;
    margin-top: -148px;
    margin-left: 445px;
    left: 900px;
    background-color: #E7E9EB;
}

.ajay {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    margin-left: 25px;

}

.login5 {
    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    color: #fff;
    width: 30%;
    position: absolute;
    margin-top: 53vh;
    margin-left: 29px;
    padding-left: 36px;
    text-decoration: none;
    text-align: center;




}




.rakesh {

    width: 467px;
    height: 268px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -41px;
    background-color: rgb(18, 193, 24);
}


.mohan {

    width: 467px;
    height: 268px;
    position: relative;

    margin-top: 0px;
    position: absolute;
    margin-left: 48px;
    left: -41px;
    background-color: white;

}

.sachin{



    font-size: 20px;
    margin-left:14px;





}


.kk {
    font-size: 20px;


}

.rocky {

    width: 2000px;
    height: 633px;
    background-color: #FFF4A3 !important;
    margin-top: 300px;

    margin-left: -9px;
    margin-right: 140px;
    position: absolute;
    right: -300px;
    margin-top: 98px;
    margin-bottom: 5px;
    padding-top: 5px;



}

.rocky1 {
    width: 1253px;
    height: 495px;
    position: absolute;
    padding-left: 12px;
    margin-top: -7px;
    margin-left: 12px;
    /* background-color: #FDD835 !important */
}



.amin7 {

    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 895px;
    margin-top: 100px !important;
    font-size: 70px;
    margin-bottom: 3px;


}

.ajay66 {


    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 845px;
    margin-top: 20px !important;
    font-size: 19px;




}

.shivani {

    outline: none;
    border: none;
    background: #04AA6D;

    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    color: #fff; 
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 7vh;
    height: 8vh;



}

.shivani1 {

    outline: none;
    border: none;
    background: #000;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 24vh;
    height: 8vh;
    color: white;


}

.shivani2 {

    outline: none;
    border: none;
    background: #FFC0C7 !important;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 40vh;
    height: 8vh;



}


.rocky2 {
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 5px;
    margin-top: -150px;
    margin-left: 443px;
    left: 900px;
    background-color: #E7E9EB;
}

.ajay3 {

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    margin-left: 25px;



}

.login6 {


    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    color: #fff;
    width: 30%;
    position: absolute;
    margin-top: 61vh;
    margin-left: 29px;
    padding-left: 36px;
    text-decoration: none;
    text-align: center;
}



.rocky3 {


    width: 467px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -41px;
    background-color: rgb(18, 193, 24);

}

.rocky4 {


    width: 460px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -47px;
    background-color: white;

}
.sachin1{

font-size: 20px;
margin-left:14px;



}

.vikash{

    width: 2000px;
    height: 633px;
    background-color: #282A35 !important;
    margin-top: 300px;

    margin-left: -9px;
    margin-right: 136px;
    position: absolute;
    right: -300px;
    margin-top: 89px;
    margin-bottom: 5px;
    padding-top: 5px;



}

.rocky133 {
    width: 1253px;
    height: 495px;
    position: absolute;
    padding-left: 12px;
    margin-top: -7px;
    margin-left: 12px;
    /* background-color: #FDD835 !important */
}



.amin77 {

    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: #FAFAFA;
    position: relative;
    left: 805px;
    margin-top: 100px !important;
    font-size: 70px;
    margin-bottom: 3px;


}

.ajay660 {


    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color:#FAFAFA;
    position: relative;
    left: 845px;
    margin-top: 20px !important;
    font-size: 19px;




}


.anil1 {

    outline: none;
    border: none;
    background: #FAFAFA;
    color: #000;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 18px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 24vh;
    height: 8vh;
    /* color: white; */


}

.anil2 {

    outline: none;
    border: none;
    background: #FFC0C7 !important;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 40vh;
    height: 8vh;
}





.anil33{

    outline: none;
    border: none;
    background: #04AA6D;
    color: white;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 6vh;
    height: 8vh;
}

.rocky44 {
    width: 500px;
    height: 500px;
    position: absolute;
    margin-left: 5px;
    margin-top: -150px;
    margin-left: 443px;
    left: 900px;
    background-color: #E7E9EB;
}

.ajay37 {

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    margin-left: 25px;



}

.login26 {


    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    color: #fff;
    width: 30%;
    position: absolute;
    margin-top: 61vh;
    margin-left: 29px;
    padding-left: 36px;
    text-decoration: none;
    text-align: center;
}







.rocky311 {


    width: 467px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -41px;
    background-color: rgb(18, 193, 24);

}

.rocky422 {


    width: 460px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -47px;
    background-color: white;

}
.sachin9{

    font-size: 20px;
    margin-left:14px;
     
    }

    .kavita {

        width: 2000px;
        height: 633px;
        background-color: #F3ECEA!important;
        margin-top: 300px;
    
        margin-left: -9px;
        margin-right: 136px;
        position: absolute;
        right: -300px;
        margin-top: 118px;
        margin-bottom: 5px;
        padding-top: 5px;
    
    
    
    }
    
    .rock1 {
        width: 1253px;
        height: 495px;
        position: absolute;
        padding-left: 12px;
        margin-top: -7px;
        margin-left: 12px;
        /* background-color: #FDD835 !important */
    }
    
    
    
    .ami7 {
    
        font-size: 70px;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        position: relative;
        left: 865px;
        margin-top: 100px !important;
        font-size: 70px;
        margin-bottom: 3px;
    
    
    }
    
    .aja66 {
    
    
        font-size: 50px;
        font-family: 'Source Sans Pro', sans-serif;
        color: black;
        position: relative;
        left: 845px;
        margin-top: 20px !important;
        font-size: 19px;
    
    
    
    
    }
    
    .shivan {
    
        outline: none;
        border: none;
        background: #04AA6D;
        padding: 0.8rem 1rem;
        border-radius: 4vh;
        font-size: 23px;
        color: #fff; 
        width: 16%;
        margin: 9 auto;
        padding-right: 2vh;
        position: absolute;
        left: 146vh;
        right: -10vh;
        margin-top: 7vh;
        height: 8vh;
    
    
    
    }
    
    .shivan1 {
    
        outline: none;
        border: none;
        background: #000;
        padding: 0.8rem 1rem;
        border-radius: 4vh;
        font-size: 20px;
        /* color: #fff; */
        width: 16%;
        margin: 9 auto;
        padding-right: 2vh;
        position: absolute;
        left: 146vh;
        right: -10vh;
        margin-top: 24vh;
        height: 8vh;
        color: white;
    
    
    }
    
    .shivan2 {
    
        outline: none;
        border: none;
        background: #FFC0C7 !important;
        padding: 0.8rem 1rem;
        border-radius: 4vh;
        font-size: 23px;
        /* color: #fff; */
        width: 16%;
        margin: 9 auto;
        padding-right: 2vh;
        position: absolute;
        left: 146vh;
        right: -10vh;
        margin-top: 40vh;
        height: 8vh;
    
    
    
    }
    
    
    .rock2 {
        width: 500px;
        height: 500px;
        position: absolute;
    margin-left: 5px;
    margin-top: -150px;
    margin-left: 443px;
    left: 900px;
    background-color: #E7E9EB;
}

.aja3 {

    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 10px 0;
    font-size: 30px;
    margin-left: 25px;



}

.logi6 {


    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    color: #fff;
    width: 30%;
    position: absolute;
    margin-top: 61vh;
    margin-left: 29px;
    padding-left: 36px;
    text-decoration: none;
    text-align: center;
}
.rock3 {


    width: 467px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -41px;
    background-color: rgb(18, 193, 24);

}

.rock4 {


    width: 460px;
    height: 312px;
    position: relative;
    margin-left: 5px;
    margin-top: 48px;
    margin-left: 54px;
    left: -47px;
    background-color: white;

}
.sachin99{

    font-size: 20px;
    margin-left:14px;

}

.ducat {

    width: 2000px;
    height: 633px;
    background-color: #96D4D4!important;
    margin-top: 300px;

    margin-left: -9px;
    margin-right: 136px;
    position: absolute;
    right: -300px;
    margin-top: 88px;
    margin-bottom: 5px;
    padding-top: 5px;



}

.roc1 {
    width: 1253px;
    height: 495px;
    position: absolute;
    padding-left: 12px;
    margin-top: -7px;
    margin-left: 12px;
    /* background-color: #FDD835 !important */
}



.am7 {

    font-size: 70px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 906px;
    margin-top: 100px !important;
    font-size: 70px;
    margin-bottom: 3px;


}

.aj66 {


    font-size: 50px;
    font-family: 'Source Sans Pro', sans-serif;
    color: black;
    position: relative;
    left: 845px;
    margin-top: 20px !important;
    font-size: 19px;




}

.shiva {

    outline: none;
    border: none;
    background: #04AA6D;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    color: #fff; 
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 7vh;
    height: 8vh;



}

.shiva1 {

    outline: none;
    border: none;
    background: #000;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 20px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 24vh;
    height: 8vh;
    color: white;


}

.shiva2 {

    outline: none;
    border: none;
    background: #FFC0C7 !important;
    padding: 0.8rem 1rem;
    border-radius: 4vh;
    font-size: 23px;
    /* color: #fff; */
    width: 16%;
    margin: 9 auto;
    padding-right: 2vh;
    position: absolute;
    left: 146vh;
    right: -10vh;
    margin-top: 40vh;
    height: 8vh;



}


.roc2 {
    width: 500px;
    height: 500px;
    position: absolute;
margin-left: 5px;
margin-top: -150px;
margin-left: 443px;
left: 900px;
background-color: #E7E9EB;
}

.aj3 {

font-family: "Segoe UI", Arial, sans-serif;
font-weight: 400;
margin: 10px 0;
font-size: 30px;
margin-left: 25px;



}

.log6 {


outline: none;
border: none;
background: #04AA6D;
padding: 0.8rem 1rem;
border-radius: 4vh;
font-size: 20px;
color: #fff;
width: 30%;
position: absolute;
margin-top: 61vh;
margin-left: 29px;
padding-left: 36px;
text-decoration: none;
text-align: center;
}
.roc3 {


width: 467px;
height: 312px;
position: relative;
margin-left: 5px;
margin-top: 48px;
margin-left: 54px;
left: -41px;
background-color: rgb(18, 193, 24);

}

.roc4 {


width: 460px;
height: 312px;
position: relative;
margin-left: 5px;
margin-top: 48px;
margin-left: 54px;
left: -47px;
background-color: white;

}

.sachin888{

    font-size: 20px;
    margin-left:14px;
     
    }






